/* main.css is here */

:root {
    --primary: #0069FF !important;
    --primary-lighten: #4490FC !important;
    --primary-darken: #0459D2 !important;
    --white: #ffffff !important;
    --grayscale100: #222222 !important;
    --grayscale200: #FAFAFA !important;
    --grayscale300: #EEEEEE !important;
    --grayscale400: #B8B8B8 !important;
    --grayscale500: #666666 !important;
    --grayscale600: #222222 !important;
    --success: #01AF1B !important;
    --successlighten: #00CC1E !important;
    --successdarken: #009516 !important;
    --danger: #EB1717 !important;

    --primary-font: 'Source Sans Pro', sans-serif;

    --headlarge: 32px !important;
    --headmedium: 24px !important;
    --headsmall: 12px !important;

    --light: 200;
    --normal: 400;
    --bold: 600;
}

a, h1, h2, h3, h4, h5, h6, span {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: var(--headlarge);
    line-height: 38px;
}


a:hover {
    text-decoration: none !important;
}

p {
    margin-top: 16px !important;
}

body {
    background-color: var(--white);
    font-family: var(--primary-font);
    color: var(--grayscale600);
}

button {
    border-radius: 4px;
    padding: 8px 24px;
    border: none;
}

.btn.focus, .btn:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

.button-primary {
    background-color: var(--primary);
    color: var(--white) !important;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    padding: 8px 24px;
    border-radius: 4px;
}

.button-primary:hover {
    background-color: var(--primary-lighten);
}

.button-primary:focus {
    background-color: var(--primary-darken);
    outline: none;
}

.button-success {
    background-color: var(--success);
    color: var(--white) !important;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    padding: 8px 24px;
    border-radius: 4px;
}

.button-success:hover {
    background-color: var(--successlighten);
}

.button-success:focus {
    background-color: var(--successdarken);
    outline: none;
}

.button-nonbg {
    background: none;
    color: var(--grayscale500) !important;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    padding: 8px 24px;
    border-radius: 4px;
}

.button-nonbg:hover {
    background: none;
}

.button-nonbg:focus {
    background: none;
    outline: none;
}

/* Header */

header {
    background: var(--grayscale200);
    box-shadow: inset 0px -1px 0px #EFEFEF;
}

header .navbar {
    padding: 12px 16px;
}

header .logo img {
    height: 32px;
}

header .share-public {
    margin-left: 80px;
}

header .share-public input {
    margin-left: 16px;
    width: 270px !important;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

header .share-public button {
    right: 50px;
    position: relative;
}

header .share-public span {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

header .profile {
    margin-left: 48px;
}

header .profile .dot-icon {
    margin-left: 15px;
}

/* Header */

/* Content */

.content {
    padding: 56px 0px;
    max-width: 936px;
    margin: 0 auto;
}

.content .scheduled-events {
    padding-left: 100px;
    margin-bottom: 54px;
}

.content .scheduled-events span {
    color: var(--primary);
    font-size: 12px;
    line-height: 14px;
    font-weight: var(--bold);
}

.content .scheduled-events p {
    color: var(--grayscale500);
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-transform: capitalize;
}

.content .scheduled-events h2 {
    color: var(--grayscale400);
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
}

.content .scheduled-events .upcoming {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .scheduled-events .upcoming h1 {
    color: var(--grayscale600);
    font-weight: 600;
}

.content .scheduled-events .upcoming img {
    margin-left: 12px;
}

.content .cards {
    padding: 16px 32px;
    box-shadow: 0px 2px 6px 0px #00000014;
    border-radius: 8px;
    margin-bottom: 20px;
}

.content .cards-header {
    margin-bottom: 24px;
}

.content .cards-header .cards-person {
    text-align: right;
}

.content .cards .cards-content .cards-content-body:first-child {
    padding-top: 24px;
}

.content .cards .cards-content .cards-content-body:nth-child(1) {
    border-top: 1px solid var(--grayscale300);
}


.content .cards .cards-content span.head {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: var(--grayscale500);
}

.content .cards .cards-content span.text {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--grayscale600);
    margin: 8px 0px;
    display: block;
}

.content .cards .cards-content .cards-content-body:nth-child(2) {
    margin-top: 24px;
}

.content .cards span.danger-alert {
    color: var(--danger);
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    display: block;
}

.content .cards span.card-name {
    color: var(--grayscale600);
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: block;
}

.content .cards span.cards-mail {
    color: var(--grayscale500);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
}

.content .cards span.cards-mail .cards-name-bold {
    color: var(--grayscale500);
    font-weight: 600;
    display: inline-block;
}

.content .cards .cards-bottom {
    border-top: 1px solid var(--grayscale300);
    padding-top: 15px;
}

.content .cards .cards-bottom .dropdown button {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: var(--grayscale500);
    padding-left: 0px;
}

.content .cards-blank {
    text-align: center;
    border: 1px dashed #B8B8B8;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 32px 0px;
}

.content .cards-blank span{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--grayscale500);
}


/* Content */


/* Footer */

footer {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 32px;
}

footer .copyright {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--grayscale500);
}

/* Footer */

/* Responsive */

@media only screen and (max-width: 600px) {
    header .share-public {
        margin-left: 0px;
        margin-bottom: 10px;
    }
    .content .scheduled-events{
        padding-left: 0px;
    }
}

/* Responsive */